@charset "utf-8";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body{
  background: url(https://wallpapercave.com/wp/wp12461052.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.hero-banner {
  display: flex;
  justify-content: flex;
  background: url(https://wallpapercave.com/wp/wp9109600.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;;
  place-content: center;
  border-radius: 10px;
  margin-top: 50px;
}

.hero-banner h1 {
  color: rgb(112,120,133);
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  letter-spacing: 2px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
}

h2 {
  color: rgb(112,120,133);
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 30px;
  padding-left: 20px;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 30px;
}

.about-me{
  background-color: rgb(34,41,57);
  margin-top: 100px;
  border-radius:10px;
  padding-bottom: 20px;
}

.about-me p{
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: rgb(112,120,133);
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

.my-projects {
  background-color: rgb(34,41,57);
  margin-top: 100px;
  border-radius: 10px;
  padding-top: 0;
}

.project-img{
  display: grid;
  grid-template-columns: repeat(1, 200px);
  grid-auto-rows: minmax(300px, auto);
  gap: 100px;
}

.img-1, .img-2, .img-3, .img-4{
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
}

.contact{
  background-color: rgb(34,41,57);
  margin-top: 100px;
  border-radius: 10px;
  padding-top: 0;
}

.contact-box {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-auto-rows: minmax(300px, auto);
  gap: 50px;
  text-align: center;
  margin-top: 100px;
  place-content: center;
  padding-top: 0;
}

.contact-box h5 {
  text-decoration: none;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}

.box-e, .box-l, .box-n, .box-g {
  color: rgb(112, 120, 133);
  background-color: rgb(34, 41, 57);
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 150px;
  box-sizing: border-box;
}

.box-e img, .box-l img, .box-n img, .box-g img {
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
}


button:hover {
  cursor: pointer;
}

/*.contact-box{
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 50px;
  text-align: center;
  margin-top: 100px;
  place-content: center;
  padding-top: 0;
}

.contact-box h5{
  text-decoration: none;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.box-e{
  color: rgb(112,120,133);
  font-size: 12px;
  background-color: rgb(34,41,57);
  padding-top: 20px;
  border-radius: 10px;
}

.box-l{
  color: rgb(112,120,133);
  font-size: 12px;
  background-color: rgb(34,41,57);
  padding-top: 20px;
  border-radius: 10px;
}

.box-n{
  color: rgb(112,120,133);
  font-size: 12px;
  background-color: rgb(34,41,57);
  padding-top: 20px;
  border-radius: 10px;
  height: 140px;
  padding-top: 0;
}

.box-n img{
  margin-top: 10px;
}

.box-g{
  color: rgb(112,120,133);
  font-size: 12px;
  background-color: rgb(34,41,57);
  padding: 10px 10px 10px 10px;
  padding-top: 20px;
  border-radius: 10px;
  height: 140px;
}

.box-g img{
  margin-top: 13px;
}

button:hover{
  cursor: pointer;
} */

.back-to-top {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}