@charset "utf-8";

html{
  scroll-behavior: smooth;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body{
  background: url(https://wallpapercave.com/wp/wp12461052.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.hero-banner {
  display: flex;
  justify-content: flex;
  background: url(https://wallpapercave.com/wp/wp9109600.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;;
  place-content: center;
  border-radius: 10px;
  margin-top: 50px;
}

.hero-banner h1 {
  color: rgb(112,120,133);
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  letter-spacing: 2px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
}

.about-me h2 {
  color: rgb(112,120,133);
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 30px;
  padding-left: 20px;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 30px;
}

.about-me{
  background-color: rgb(34,41,57);
  margin-top: 100px;
  border-radius:10px;
  padding-bottom: 20px;
}

.about-me p{
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: rgb(112,120,133);
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

.my-projects h2 {
  color: rgb(112,120,133);
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 30px;
  padding-left: 20px;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 30px;
}

.my-projects {
  background-color: rgb(34,41,57);
  margin-top: 100px;
  border-radius: 10px;
  padding-top: 0;
}

.project-img{
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(1, 200px);
  padding-top: 20px;
  place-content: center;
  text-align: center;
}

.img-1 h2{
  background-color: rgb(34 41 57);
  width: 600px;
  border-radius: 10px;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 30px;
}

.img-2 h2{
  background-color: rgb(34 41 57);
  width: 600px;
  border-radius: 10px;
  margin-left: 180px;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 30px;
}

.img-3 h2{
  background-color: rgb(34 41 57);
  width: 600px;
  border-radius: 10px;
  margin-left: 180px;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 30px;
}

.img-4 h2{
  background-color: rgb(34 41 57);
  width: 600px;
  border-radius: 10px;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 30px;
}

.img-1 img{
  width: 500px;
  height: 600px;
  margin-bottom: 50px;
  margin-top: 10px;
  border-radius: 10px;
}

.img-2 img{
  width: 1000px;
  height: 500px;
  margin-bottom: 50px;
  margin-top: 10px;
  border-radius: 10px;
}

.img-3 img{
  width: 1000px;
  height: 500px;
  margin-bottom: 50px;
  margin-top: 10px;
  border-radius: 10px;
}

.img-4 img{
  width: 500px;
  height: 450px;
  margin-top: 10px;
  border-radius: 10px;
}

.contact h2 {
  color: rgb(112,120,133);
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 30px;
  padding-left: 20px;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 30px;
}

.contact{
  background-color: rgb(34,41,57);
  margin-top: 100px;
  border-radius: 10px;
  padding-top: 0;
}

.contact-box {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-auto-rows: minmax(300px, auto);
  gap: 50px;
  text-align: center;
  margin-top: 100px;
  place-content: center;
  padding-top: 0;
}

.contact-box h5 {
  text-decoration: none;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}

.box-e, .box-l, .box-n, .box-g {
  color: rgb(112, 120, 133);
  background-color: rgb(34, 41, 57);
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 150px;
  box-sizing: border-box;
}

.box-e img, .box-l img, .box-n img, .box-g img {
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
}


button:hover {
  cursor: pointer;
  background-color: rgb(39, 46, 62);
}

.back-to-top {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

#backtotop{
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  z-index: 1000; 
  transition: opacity 0.3s, transform 0.3s;
}