@charset "utf-8";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body{
  background: url(https://wallpapercave.com/wp/wp12461052.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-banner {
  display: flex;
  justify-content: flex;
  background: url(https://wallpapercave.com/wp/wp9109600.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  overflow: hidden;
  text-align: center;;
  place-content: center;
}

.hero-banner h1 {
  color: #fff;
  padding-right: 50px;
  font-family: "Noto Sans", sans-serif;
}

.about-me{
  display: flex;
  justify-content: flex;
  place-content: center;
  color: #fff;
  padding-top: 50px;
}

.contact {
  display: flex;
  justify-content: flex;
  place-content: center;
  color: #fff;
  padding-top: 50px;
}