@charset "utf-8";

*, *::before, *::after {
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
  background: url(https://wallpapercave.com/wp/wp12461052.jpg);
  image-rendering: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

#hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

header {
  width: 100%; 
  max-width: 1080px;
  margin: 0;
}

.hero-banner {
  display: flex;
  justify-content: center;
  background: url(https://wallpapercave.com/wp/wp9109600.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;;
  place-content: center;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-banner h1 {
  color: rgb(112,120,133);
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  letter-spacing: 2px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
  padding: 0 15px;
}

@keyframes blink-animation {
  0%, 100% {
    color: rgb(112,120,133);
  }
  50% {
    color: #ffffff;
  }
}

.animated-text{
  animation: blink-animation 1s step-end infinite;
}

.about-me, .my-projects, .contact {
  background-color: rgb(34,41,57);
  margin-top: 100px;
  border-radius:10px;
  padding-bottom: 20px;
}

.about-me h2, .my-projects h2, .contact h2 {
  color: rgb(112,120,133);
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 30px;
  text-align: left;
  padding: 20px 30px 10px 30px;
}

.about-me p{
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: rgb(112,120,133);
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

.project-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  text-align: center;
}

.img-1 h2, .img-2 h2, .img-3 h2, .img-4 h2 {
  background-color: rgb(34 41 57);
  width: 100%;
  border-radius: 10px;
  margin: 0 0 15px 0;
  color: #fff;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 200;
  font-size: 30px;
  padding: 10px;
}

.img-1, .img-2, .img-3, .img-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}

.img-1, .img-4 {
    max-width: 500px; 
}

.img-2, .img-3 {
    max-width: 1000px;
}

.img-1 img, .img-2 img, .img-3 img, .img-4 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.contact-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px;
  text-align: center;
  margin-top: 30px;
  padding: 30px;
}

.contact-box h5 {
  text-decoration: none;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}

.box-e, .box-l, .box-n, .box-g {
  color: rgb(153, 157, 164);
  background-color: rgb(64, 66, 74);
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 150px;
  box-sizing: border-box;
  text-decoration: none;
}

.box-e img, .box-l img, .box-n img, .box-g img {
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
}

.contact-box a:hover {
  cursor: pointer;
  background-color: rgb(39, 46, 62);
}

.back-to-top{
  background-color: rgb(119, 25, 25);
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  z-index: 1000; 
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  border: none;
}