@charset "utf-8";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body{
  background: url(https://wallpapercave.com/wp/wp12461052.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-banner {
  display: flex;
  justify-content: flex;
  background: url(https://wallpapercave.com/wp/wp9109600.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;;
  place-content: center;
  border-radius: 10px;
}

.hero-banner h1 {
  color: rgb(112,120,133);
  padding-right: 50px;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  letter-spacing: 2px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
}

.about-me{
  display: flex;
  justify-content: flex;
  place-content: center;
  color: #fff;
  padding-top: 50px;
}

.contact {
  display: flex;
  justify-content: flex;
  place-content: center;
  color: #fff;
  padding-top: 50px;
}