@charset "utf-8";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body{
  background: url(https://wallpapercave.com/wp/wp12461052.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.hero-banner {
  display: flex;
  justify-content: flex;
  background: url(https://wallpapercave.com/wp/wp9109600.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;;
  place-content: center;
  border-radius: 10px;
  margin-top: 50px;
}

.hero-banner h1 {
  color: rgb(112,120,133);
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  letter-spacing: 2px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
}

.about-me{
  background-color: rgb(34,41,57);
  margin-top: 50px;
  border-radius:10px;
}

.contact {
  background-color: rgb(34,41,57);
  margin-top: 50px;
  border-radius:10px
}

h2 {
  color: rgb(112,120,133);
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 0 #bfc8d1;
  padding-top: 50px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 30px;
  padding-left: 20px;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 30px;
}

.back-to-top {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}