@charset "utf-8";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.hero-banner {
  background: url(https://t3.ftcdn.net/jpg/08/86/49/54/240_F_886495498_14NHE9pzw6B7SGoU5Sxb4leA8gpXYDpz.jpg) center/ cover no-repeat;
  background-position: center;
  z-index: 1000;
  display: flex;
  border-radius: 10px;
  height: 200px;
  place-content: center;
  justify-content: flex;
  margin-bottom: 200px;
  color: #9c86cf;
}

.hero-banner h1 {
  padding-right: 50px;
  font-family: "Noto Sans", sans-serif;
}