@charset "utf-8";

body{
  background-color: rgb(4,16,32); 
  padding: 0;
  margin: 0;
}

.hero-banner {
  background: url(https://wallpapercave.com/wp/wp12460836.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;;
}

.hero-banner h1 {
  color: #9c86cf;
  padding-right: 50px;
  font-family: "Noto Sans", sans-serif;
}

.about-me{
  display: flex;
  justify-content: flex;
  place-content: center;
  color: #9c86cf;
  padding-top: 50px;
}

.contact {
  display: flex;
  justify-content: flex;
  place-content: center;
  color: #9c86cf;
  padding-top: 50px;
}